
*.pyc

.idea/.name

.idea/email_formality_detection.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

enron.db

*.db-journal

data/classifier_app/auth.py

classifier_app/auth.py

data/20141202backup.sql

*.csv

*.arff

*.libsvm
