{% extends "master.html" %}

{% block title %}Email Viewer{% endblock %}

{% block navigation %}
    <li><a href="{{ url_for('menu') }}">Home</a></li>
    <li><a href="{{ url_for('classify') }}">Email Classifier</a></li>
    <li class="active"><a href="{{ url_for('search_emails') }}">Email Viewer</a></li>
    <li><a href="#">Validator</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}

{% block page_title %}Email Viewer{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9">
                    <dl class="dl-horizontal">
                        <dt>Email ID:</dt><dd>{{ email_id }}</dd>
                        <dt>From:</dt><dd>{{ email_sender }}</dd>
                        <dt>To:</dt><dd>{{ email_recipient }}</dd>
                        <dt>Date:</dt><dd>{{ email_date }}</dd>
                        <dt>Subject:</dt><dd>{{ email_subject }}</dd>
                    </dl>
                </div>
                <div class="col-md-3">
                    {{ form|safe }}
                </div>
            </div>
        </div>
        <div class="panel-body">
            {{ email_body|safe }}
        </div>
    </div>
{% endblock %}