{% extends "master.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block navigation %}
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li class="active"><a href="#">Login</a></li>
{% endblock %}

{% block page_title %}Login{% endblock %}

{% block body %}
    <form class="form-signin" role="form" method="POST" action="{{ url_for('login') }}">
        <h2 class="form-signin-heading">Please log in</h2>
        <p style="color: red; font-weight: bold;">{{ message }}</p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
{% endblock %}