{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block page_title %}Main Menu{% endblock %}

{% block body %}
    <p>Welcome, {{ username }}!</p>
    <ul>
        <li><a href="{{ url_for('classify') }}"><strong>Email Classifier:</strong></a> Classify random sample of emails
            as formal or informal.</li>
        <li><a href="#"><strong>Current Message Extraction Validator:</strong></a> Validate framework's ability to
            determine most recent message from random sample of emails.</li>
    </ul>
{% endblock %}

{% block right_column %}
    <p><strong><a href="{{ url_for('logout') }}">[LOG OUT]</a></strong></p>
{% endblock %}