{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block navigation %}
    <li><a href="{{ url_for('menu') }}">Home</a></li>
    <li><a href="{{ url_for('classify') }}">Email Classifier</a></li>
    <li><a href="{{ url_for('search_emails') }}">Email Viewer</a></li>
    <li><a href="{{ url_for('validate') }}">Validator</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}

{% block page_title %}Main Menu{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>Email ID #</th>
            <th>Incorrectly Rendered</th>
        </tr>
        {{ invalid_rows }}
    </table>
{% endblock %}